
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    background-color: lightblue;
    color: grey;
}

#info {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    margin-bottom: 20px;
}

#info h2 {
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

#info ul {
    list-style: none;
    text-decoration: none;
}

#info ul li {
    padding: 5px;
}

#about {
    width: 40%;
}

#about p {
    width: 100%;
    text-align: justify;
    line-height: 25px;
    margin-top: 10px;
}

#stateWebsites{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.quicklinks li:hover {
    color: orange;
}

.categories li:hover {
    color: orange;
}

.contact i{
    margin-right: 10px;
}

.social {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin:10px;
}

.social ul li {
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
}

.social ul li i {
    color: white;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.social ul li:hover {
    background-color: skyblue;
}

.social ul li:nth-child(1):hover {
    background-color: #476dc0;
  }
  .social ul li:nth-child(2):hover {
    background-color: #429de2;
  }
  .social ul li:nth-child(3):hover {
    background-color: #db3d28;
  }
  .social ul li:nth-child(4):hover {
    background-color: #0b4768;
  }
  .social ul li:nth-child(5):hover {
    background-color: #ea4c89;
  }

.copyright {
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 30px;
}

.copyright a {
    text-decoration: none;
    color: grey;
}
.copyright a:hover {
    color: orange;
}

.copyright p {
    color: grey;
    position: relative;
}

.copyright p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: yellow;
    position: absolute;
    right: 0;
    bottom: -10px;
    transition: all 0.3s;
  }
  .copyright p:hover::after {
    width: 100%;
  }

@media (max-width: 850px) {

    #info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 10px;
    }

    #about{
        width: 100%;
        margin-bottom: 20px;
    }
    #about p {
        text-align: justify;
        color: grey;
        line-height: 24px;
        margin-top: 10px;
    }
}

@media (max-width: 499px) {

    #info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 10px;
    }

    #about{
        width: 100%;
        margin-bottom: 20px;
    }
    #about p {
        text-align: justify;
        color: grey;
        line-height: 24px;
        margin-top: 10px;
    }
}
