footer{
    width: 100%;
    background-color: #193498;
  }
  .foot-sec-1
  {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 30px 10px;
  }
  
  .foot-sec-1 .foot-states
  {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  .foot-sec-1 .foot-states .foot-heading
  {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  
  .foot-sec-1 .foot-states .foot-content
  {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    padding:0px 10px;
  }
  
  
  .foot-sec-1 h2
  {
    font-size: 18px;
    color: white;
    font-style:normal;
    font-weight:600;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  
  .foot-sec-1 ul 
  {
    list-style: none;
  }
  .foot-sec-1 ul li
  {
    padding: 5px;
  }
  .foot-st-sec-1 a ,.foot-st-sec-2 a ,.foot-st-sec-3 a ,.foot-ut-links a ,.foot-contact a ,.foot-sec-3 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  .foot-st-sec-1 a :hover ,.foot-st-sec-2 a:hover , .foot-st-sec-3 a:hover ,.foot-ut-links a:hover ,.foot-contact a:hover ,.foot-sec-3 a:hover{
    color:#1597E5;
  }
  .foot-contact span{
    color: white;
    padding: 10px;
  }
  .foot-contact i{
    color: white;
    font-size: 20px;
  }
  
  .foot-sec-2 
  {
    padding: 20px;
    margin-left: 90px;
  }
  
  .foot-sec-2 h2
  {
    font-size: 25px;
    color: white;
    font-style: normal;
    font-weight:600;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-bottom: 20px;
  }
  
  .foot-sec-2 p
  {
    color: white;
    justify-content:space-evenly;
    align-items: center;
    line-height: 25px;
    font-size: 16px;
  }
  .foot-sec-3
  {
    display: flex;
    justify-content: center;
    background-color:#193498;
  }
  .foot-sec-3 p{
    color: white;
    position: relative;
  }
  .foot-sec-3 a{
    color: white;
    position: relative;
  }
  .foot-sec-3 a:hover{
    color:#1597E5 ;
  }
  .foot-sec-3 p::after
  {
    content: ' ';
    display: block;
    width: 0;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: -10px;
    border-color: yellow;
    transition: all 0.3s;
  }
  .foot-sec-3 p:hover::after
  {
    width: 100%;
  }
  hr{
    width: 100%; height: 2px; color: white;opacity: 0.8;
  }
  @media (max-width:900px)
  {
   
    footer{
        width: 100%;
        background-color: #193498;
    }
    .foot-sec-1
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 10px;
  
    }
    .foot-sec-1 .foot-states
    {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .foot-sec-1 .foot-states .foot-heading
  {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .foot-sec-1 .foot-states .foot-content
  {
    display: flex;
    flex-direction:row;
    justify-content:left;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 10px;
    padding:10px 10px;
  }
  .foot-sec-1 .foot-states .foot-content .foot-st-sec-1
  {
    margin-right: 5px;
  }
  .foot-sec-1 .foot-states .foot-content .foot-st-sec-2
  {
    margin-right: 5px;
  }
    .foot-sec-1 h2{
        font-size: 18px;
        color: white;
        font-style:normal;
    font-weight:600;
    text-decoration: underline;
    text-underline-offset: 6px;
    }
    
    .foot-sec-1 ul 
    {
        list-style: none;
    }
    .foot-sec-1 ul li
    {
        padding: 5px;
    }
    .foot-st-sec-1 a ,.foot-st-sec-2 a ,.foot-st-sec-3 a ,.foot-ut-links a ,.foot-contact a ,.foot-sec-3 a{
        text-decoration: none;
        color: white;
    font-size:unset;
    }
    .foot-st-sec-1 a :hover ,.foot-st-sec-2 a:hover , .foot-st-sec-3 a:hover ,.foot-ut-links a:hover ,.foot-contact a:hover ,.foot-sec-3 a:hover{
        color:#1597E5;
    }
    .foot-contact span{
        color: white;
        padding: 10px;
    }
    .foot-contact i{
        color: white;
        font-size: 10px;
    }
    
    .foot-sec-2 
    {
        padding: 20px;
        margin-left: 90px;
    }
    .foot-sec-2 h2
  {
    font-size: 25px;
    color: white;
    font-style: normal;
    font-weight:600;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-bottom: 20px;
  }
  .foot-sec-2 p
  {
    color: white;
    justify-content:space-evenly;
    align-items: center;
    line-height: 25px;
    font-size: 16px;
  }
    .foot-sec-3
    {
        display: flex;
        justify-content: center;
        background-color:#193498;
    }
    .foot-sec-3 p{
        color: white;
        position: relative;
    }
    .foot-sec-3 a{
        color: white;
        position: relative;
    }
    .foot-sec-3 a:hover{
        color:#1597E5 ;
    }
    .foot-sec-3 p::after
    {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -10px;
        border-color: yellow;
        transition: all .3s;
    }
    .foot-sec-3 p :hover::after{
        width: 100%;
  
    }
  
    hr{
        width: 100%; height: 2px; color: white;opacity: 0.8;
    }
  }
  
  @media (max-width: 499px)
  {
    
    footer{
        width: 100%;
        background-color: #193498;
    }
    .foot-sec-1
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 10px;
  
    }
    .foot-sec-1 .foot-states
    {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .foot-sec-1 .foot-states .foot-heading
  {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .foot-sec-1 .foot-states .foot-content
  {
    display: flex;
    flex-direction:row;
    justify-content:left;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 10px;
    padding:10px 10px;
    /* font-size: 16px; */
  }
  .foot-sec-1 .foot-states .foot-content .foot-st-sec-1
  {
    margin-right: 5px;
  }
  .foot-sec-1 .foot-states .foot-content .foot-st-sec-2
  {
    margin-right: 5px;
  }
    .foot-sec-1 h2{
        font-size: 18px;
        color: white;
        font-style:normal;
    font-weight:600;
    text-decoration: underline;
    text-underline-offset: 6px;
    }
    
    .foot-sec-1 ul 
    {
        list-style: none;
    }
    .foot-sec-1 ul li
    {
        padding: 5px;
    }
    .foot-st-sec-1 a ,.foot-st-sec-2 a ,.foot-st-sec-3 a ,.foot-ut-links a ,.foot-contact a ,.foot-sec-3 a
        {
        text-decoration: none;
        color: white;
    }
    .foot-st-sec-1 a :hover ,.foot-st-sec-2 a:hover , .foot-st-sec-3 a:hover ,.foot-ut-links a:hover ,.foot-contact a:hover ,.foot-sec-3 a:hover{
        
        color:#1597E5;
    }
    .foot-contact span{
        color: grey;
        padding: 10px;
    }
    .foot-contact i{
        color: white;
        font-size: 10px;
    }
    .foot-sec-2
    {
        padding: 20px;
        margin-left: 90px;
    }
    
    .foot-sec-2 h2
  {
    font-size: 25px;
    color: white;
    font-style: normal;
    font-weight:600;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-bottom: 20px;
  }
  .foot-sec-2 p
  {
    color: white;
    justify-content:center;
    align-items: center;
    line-height: 25px;
    font-size: 16px;
  }
    .foot-sec-3
    {
        display: flex;
        justify-content: center;
        background-color:#193498;
    }
    .foot-sec-3 p{
        color: white;
        position: relative;
    }
    .foot-sec-3 a{
        color: white;
        position: relative;
    }
    .foot-sec-3 a:hover{
        color:#1597E5 ;
    }
    .foot-sec-3 p::after
    {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -10px;
        border-color: yellow;
        transition: all .3s;
    }
    .foot-sec-3 p :hover::after{
        width: 100%;
  
    }
  
    hr{
        width: 100%; height: 2px; color: white;opacity: 0.8;
    }
  }