* , *:before , *:after{
    margin: 0;padding: 0;box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;
}


header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    /* background: #8a90e5; */
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


header .logo
{
    position: relative;
    font-size: 35px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 60px ;
}

header .navigation
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;

}

header .navigation li
{
    list-style: none;
    margin: 0px 10px;
    position: relative;
}
header .navigation li a
{
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 30px;
  
}
header .navigation li a:hover
{
    color: #ffeb3b;

}

header .submenu1
{
    position: absolute;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    width: 195px;
    left: 0;
    margin-top: 25px;
    display: none;
}

header .submenu1 li 
{
    margin-bottom: 20px;
}

header .submenu1 li:nth-child(1)
{
    margin-top: 10px;
}

header .search
{
    position: relative;
    width: 300px;
    height: 40px;

}
header .search input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    color: #ffff;
    background: transparent;
    outline: none;
    border: 1px solid #ffff;
    border-radius: 7px;
    padding: 0 10px 0 45px;
}

header .search input::placeholder
{
    color:#ffff;
    margin-top: 10px;
}

header .search .material-icons-outlined
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #ffff;
    border-right: 1px solid #fff;   
    padding-right: 10px;
}

header .navigation li:hover .submenu1
{
    display: block;
}

 header .navigation li a::after
{
    content: '';
    display: block;
    position: absolute;
    background-color: goldenrod;
    height: 3px;
    width: 0;
    left: 0;
    right: 0;
    bottom: -10px;
    transition:all .3s;
}

header .navigation li a:hover::after
{
    width: 100%;
} 

@media (max-width : 1381px ) 
{
   header
   {
       padding: 10px 20px;
       flex-direction:column;

   } 
   header .submenu1
{
    position: absolute;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 195px;
    left: 0;
    margin-top: 19px;
    display: none;
}
header .logo
{
    position: relative;
    font-size: 30px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
    margin-right: 60px;
}
header .search
{
    position: relative;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}

}

@media (max-width : 500px ) 
{
   header
   {
       padding: 5px 5px;
       flex-direction:column;

   } 
   header .submenu1
{
    position: absolute;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 195px;
    left: 0;
    margin-top: 19px;
    display: none;
}
header .logo
{
    position: relative;
    font-size: 30px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
    margin-right: 60px;
}
header .search
{
    position: relative;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}
}
