* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    max-width: 1550px;
    padding: 15px;
    margin: 0px auto;
}

/* Info Paragraph under slider */

#india-info {
    width: 91%;
    margin: 40px auto 0px;
    font-size: 23px;
    line-height: 1.72;
    color: #5a5a5a;
    text-align: center;
}
#india-info #show {
    width: 100px;
    height: 50px;
    background-color: white;
    border: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#india-info #secondPara {
    display: none;
    transition: 2s;
}

/* Popular in India */
#popularIndia {
    margin: 20px auto;
    align-items: center;
}
#popularIndia .heading-1 {
    text-align: center;
    color: darkblue;
    line-height: 1.1;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
}
#cards {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#cards .innercard {
    width: 720px;
    height: 300px;
    background-color: powderblue;
    margin: 15px;
    display: flex;
    flex-direction: row;
}
#cards .innercard .info{
    width: 470px;
    padding: 20px 10px;
    text-align: justify;
}
#cards .innercard .info button{
    background-color: inherit;
    border: none;
    color: darkblue;
    text-decoration: underline;
}
#cards .innercard img{
    width: 250px;
    height: inherit;
}


/* Carousel CSS */
#Carouselslider {
    height: 406px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    display: grid ;
    place-items: center
  }
  
  #slider-container {
    height: 400px;
    width: 85vw;
    max-width: 1400px;
    background: white;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #90A4AE;
    border-top: 8px solid #B0BEC5;
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    height: 90%;
    margin: 10px 22px;
    box-shadow: 2px 2px 4px 2px lightgrey, 0px 0px 4px 2px lightgrey;
    display: grid;
    place-items: center;
    border-radius: 10px;
  }
  
  
  #slider-container #slider .slide span {
    color: white;
    font-size: 150px;
  }
  
  #slider-container .slide img{
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  #slider-container .slide p{
    width: 200px;
  text-align: justify;
  }



@media (max-width:1550px) {

    /* Popular in India */
    #cards .innercard {
        width: 600px;
        height: 300px;
    }
    #cards .innercard .info{
        width: 400px;
    }
    #cards .innercard img{
        width: 200px;
    }   
}

@media (max-width:1310px) {

    /* Popular in India */
    #cards .innercard {
        width: 600px;
        height: 300px;
    }
    #cards .innercard .info{
        width: 100%;
        padding: 20px 10px;
        text-align: justify;
    }
    #cards .innercard .info p{
        font-size: 20px;
    }
    #cards .innercard .info button{
        font-size: 25px;
    }
    #cards .innercard img{
        display: none;
    }     
}



/* Media Query For Carousel */
@media only screen and (min-width: 1100px) {

    #slider-container #slider .slide {
      width: 280px;
    }
  
}
@media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
      width: 280px;
    }
  
  }